:root
{
	--border: 1px solid currentColor;
}
:root[data-view=static]
{
	--border: none;
}

[data-view=static] body
{
	margin: 0;
	padding: 0;
	color: var(--vscode-sideBar-foreground, var(--vscode-editor-foreground));
}
[data-view=static] table
{
	box-sizing: border-box;
	width: 100%;
}

table
{
	border-spacing: 0;
}
th
{
	font-size: bigger;
	font-weight: bolder;
}
th, td
{
	padding: 8px;
	border-top: var(--border);
}
[data-view=static] th,
[data-view=static] td
{
	padding: 4px 8px;
}
tr:last-child th,
tr:last-child td
{
	border-bottom: var(--border);
}

.column-header-cell
{
	text-align: left;
	border-top: none;
}
[data-view=static] .column-header-cell
{
	background: var(--vscode-sideBar-background, none);
	position: sticky;
	top: 0;
}
.group-row
{
	text-align: center;
}
.sub-group-row
{
	font-variant: small-caps;
}

td.indent-1
{
	padding-left: 20px;
}
td.indent-2
{
	padding-left: 40px;
}
td.indent-3
{
	padding-left: 60px;
}

.icon-button
{
	padding: 3px 5px;
	color: inherit;
	border: 1px solid transparent;
	background: none;
	cursor: pointer;
	transition: border ease-in-out 0.1s;
}
.icon-button:hover,
.icon-button:focus
{
	border-color: currentColor;
}
.icon-button > svg
{
	display: inline-block;
	vertical-align: middle;
	height: 1em;
	width: 1em;
}